<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="navbar">
        <h2>Mujaki Blog</h2>
        <a href="/blog">Home</a>
    </div>

    {% block content %}

    {% endblock %}
</body>
</html>