{% extends 'base.html' %}

{% block content %}

<h2>List of Posts</h2>
<ul>
    <li>Post 1</li>
    <li>Post 2</li>
    <li>Post 3</li>
</ul>
<p>Author : {{ author }}</p>

{% if sunny %}
<p>Today is sunny</p>
{% else %}
<p>Today is rainy</p>
{% endif %}

{% for post in posts %}
    <h2> {{ post.title }}</h2>
    <p> {{ post.body }}</p>
    <h4> {{ post.author }}</h4>
{% endfor %}

{% endblock %}
