{% extends "base.html" %}

{% block content %}

<h2>Sign Up</h2>
<form action="" method="post">
    <p>
        {{ form.username.label }} <br />
        {{ form.username(size=32) }}
    </p>
    <p>
        {{ form.password.label }} <br />
        {{ form.password(size=32) }}
    </p>
    <p>
        {{ form.submit() }}
    </p>
</form>

{% endblock %}
